<html>
    <head>
        <title>Form</title>
    </head>
    <body>
        <h1>Please submit your message</h1>
        
        <form method="POST" action="/new">
            <label>
                User:
            </label>
            <input name = "msguser" required /><br><br>
            <label>
                Text:
            </label>
            <input name = "msgtext" required /><br><br>
            <button>Submit</button>
        </form>
    </body>
</html>


