<!-- index.ejs -->
<html>
  <head>
    <title>Homepage</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <a href="./new">
      <span>Send a message!</span>
    </a>
    <ul>
      <% for (let i = 0; i < messages.length; i++) { %>
        <%= messages[i].user %>"
        <%= messages[i].text %>
        <%= messages[i].added %>
        <hr />
      <% } %>
    </ul>
  </body>
</html>